TELEGRAM_BOT_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE
TELEGRAM_MINI_APP_URL=https://your-domain.com

WIREGUARD_ENDPOINT_HOST=82.25.185.181
WIREGUARD_ENDPOINT_PORT=49983
WIREGUARD_SERVER_PUBLIC_KEY=CUbTrT3lQS2Fvul2v6d+budjPZk8iKq1fro3k/K9skU=
WIREGUARD_CLIENT_NETWORK_PREFIX=10.8.1
WIREGUARD_CLIENT_START_OCTET=100
WIREGUARD_ALLOWED_IPS=0.0.0.0/0
WIREGUARD_DNS=1.1.1.1, 8.8.8.8
WIREGUARD_MTU=1280
WIREGUARD_INTERFACE_NAME=awg0
WIREGUARD_DOCKER_CONTAINER=amnezia-awg2
WIREGUARD_DOCKER_BIN=/usr/bin/docker
WIREGUARD_AWG_JC=6
WIREGUARD_AWG_JMIN=10
WIREGUARD_AWG_JMAX=50
WIREGUARD_AWG_S1=128
WIREGUARD_AWG_S2=76
WIREGUARD_AWG_S3=16
WIREGUARD_AWG_S4=10
WIREGUARD_AWG_H1=161633421-978891746
WIREGUARD_AWG_H2=1580984436-1858454594
WIREGUARD_AWG_H3=2042084841-2112482583
WIREGUARD_AWG_H4=2137803850-2140481769
